.modal
{
  position: relative;
  background-color: inherit;
  border:inherit;
  border-radius: inherit;
  padding: inherit;
  visibility: initial;
  z-index: 1;
}

.containerModal
{
  border:inherit;
  background-color: inherit;
  border-radius: inherit;
  padding: inherit;
  position: absolute;
  visibility: hidden;
  cursor: initial;
}
